@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Open Book Store</h1>
    <p>A web application that allow user to view and shop for books and essentials school item</p>
</div>
