@page
@model WebFrontend.Pages.Admin.Orders.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Order.UserID" class="control-label"></label>
                <input asp-for="Order.UserID" class="form-control" />
                <span asp-validation-for="Order.UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.CartID" class="control-label"></label>
                <input asp-for="Order.CartID" class="form-control" />
                <span asp-validation-for="Order.CartID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.CreatedTime" class="control-label"></label>
                <input asp-for="Order.CreatedTime" class="form-control" />
                <span asp-validation-for="Order.CreatedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.ShippingTime" class="control-label"></label>
                <input asp-for="Order.ShippingTime" class="form-control" />
                <span asp-validation-for="Order.ShippingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.PaymentID" class="control-label"></label>
                <select asp-for="Order.PaymentID" class ="form-control" asp-items="ViewBag.PaymentID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Order.ShippingAddress" class="control-label"></label>
                <input asp-for="Order.ShippingAddress" class="form-control" />
                <span asp-validation-for="Order.ShippingAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.BillingAddress" class="control-label"></label>
                <input asp-for="Order.BillingAddress" class="form-control" />
                <span asp-validation-for="Order.BillingAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.TotalPrice" class="control-label"></label>
                <input asp-for="Order.TotalPrice" class="form-control" />
                <span asp-validation-for="Order.TotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
