@page
@model WebFrontend.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Admin Portal";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Admin Portal</h1>

<h3>[Admin menu] </h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <a asp-page="Roles/Index">[Create/Manage Role]</a> |
        <a asp-page="Products/Index">[Create/Edit Product]</a> |
        <a asp-page="Book/Index">[Create/Edit Book]</a>
    </div>
</div>